<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ailu.mapper.ArticleMapper">
    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="id" parameterType="com.ailu.entity.Article">
        insert into article(author,user_id,content,title,description,cover,tag,type,create_time,update_time)
        values(#{author},#{userId},#{content},#{title},#{description},#{cover},#{tag},#{type},#{createTime},#{updateTime})
    </insert>
    <select id="pageQueryArticle" resultType="com.ailu.vo.article.ArticleVO">
        select a.id,u.username as author,a.content,a.title,a.description,a.cover,a.tag,a.type,a.create_time,a.update_time
        from article a,user u
        where a.user_id = u.id and a.user_id = #{userId} and a.type = 1 and a.status = 1 and
        order by create_time desc
    </select>

</mapper>
